.hero{
    background-image: url(../Assets/images/hero\ bg.png );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    text-align: center;
    color: #333;
    position: relative;
    /* justify-content: space-between; */
    display: flex;
}

.ready {
    width: 17.5%;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: #5D20C7;
    filter: brightness(.8);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-decoration: none;
}

.ready:hover{
    filter: brightness(1);

}


.hero h1{
    font-size: 4rem;
    color: #5D20C7;
    width: 50%;
}

.hero h2{
    font-size: 2rem;
    /* margin: 1rem 0; */
}


.hero a{
    width: 300px;
    /* margin-left: -620px; */
    float: left;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin: 0 7.3rem;
    border: none;
    background-color: #5D20C7;

    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 11px;
    text-decoration: none;
}

.hero a:hover{
    /* background-color: #1b89c8; */
    width: 300px;

}

.right{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    width: 50%;
    height: 100%;
    width: 100;
    display: flex;
    z-index: -1;
    opacity: 0.4;
}

.right img{
    overflow: hidden;
}

.left{
    width: 45%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    border-right: 1px solid black;
}

.hero-info{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 110px;
    border-left: #5D20C7 2x solid;
}

.hero-info h2{
    color: #5D20C7;
}

.hero-info h3{
    color: #333;
}

.hero-info p{
    font-size: 1.2rem;
    color: black;
    margin: 1rem 0;
    font-weight: 400;
    /* text-shadow: 2px 2px 4px rgba(999, 999, 999, .7); */
}



@media screen and (max-width: 768px){
    .hero h1{
        font-size: 3rem;
        width: 80%;
        margin-left: 35px;
    }
    .hero h2{
        font-size: 1.5rem;
    }
    .hero a{
        width: 200px;
        margin: 0 3.6rem;
    }
    .right{
        display: none;
    }
    
}