.bot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
}

.bot-icon {
    font-size: 40px;
    color: #5D20C7;
}

.bot-message {
    font-size: 16px;
    color: #333;
}